//----------------------------------------------------
// Overrides: PRECSS Setting
//----------------------------------------------------

//----------------------------------------------------
// / Custom
//----------------------------------------------------

// Omitted
$option-om: true !default;

// Prefix
$ly_: "\.ly_" !default;
$bl_: "\.bl_" !default;
$el_: "\.el_" !default;
$un_: "\.un_" !default;
$js_: "\.js_" !default;
$is_: "\.is_" !default;

// Pipe
$_: "_" !default;
$__: "__" !default;

// Selector Name
$n-section: if($option-om, "sect", "section") !default;
$n-inner: "inner" !default;
$n-grid: "grid" !default;
$n-column: if($option-om, "col", "column") !default;
$n-gap: "gap" !default;
$n-card: "card" !default;
$n-box: "box" !default;

// Modifier Name
$n-light: "light" !default;
$n-xxl: "xxl" !default;
$n-xl: "xl" !default;
$n-lg: "lg" !default;
$n-md: "md" !default;
$n-sm: "sm" !default;
$n-xs: "xs" !default;
$n-xxs: "xxs" !default;
$n-top: "top" !default;
$n-right: "right" !default;
$n-bottom: "bottom" !default;
$n-left: "left" !default;
$n-vertical: "vertical" !default;
$n-horizontal: "horizontal" !default;
$n-up: "up" !default;
$n-down: "down" !default;
$n-disabled: "disabled" !default;
$n-bg: "bg" !default;
$n-outline: "outline" !default;
$n-radius: "radius" !default;
$n-inline: "inline" !default;
$n-flex: "flex" !default;
$n-baseline: "baseline" !default;
$n-middle: "middle" !default;
$n-center: "center" !default;
$n-between: "between" !default;
$n-around: "around" !default;
$n-reverse: "reverse" !default;
$n-stretch: "stretch" !default;
$n-link: "link" !default;
$n-zoom: "zoom" !default;
$n-floating: "floating" !default;
$n-nowrap: "nowrap" !default;
$n-separate: "separate" !default;
$n-parent: "parent" !default;
$n-child: "child" !default;
$n-angle: "angle" !default;

// Capitalize
@function capitalize($string) {
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

//----------------------------------------------------
// / Option
// - Docs: https://musubii.qranoko.jp/configs/variables/option
// - SCSS: https://github.com/qrac/musubii/tree/master/src/scss/configs/variables/_option.scss
//----------------------------------------------------

// Important
$option-important-display: true !default;
$option-important-size: true !default;
$option-important-flex: true !default;
$option-important-space: true !default;
$option-important-margin: true !default;
$option-important-padding: true !default;
$option-important-overflow: true !default;
$option-important-clearfix: true !default;

//----------------------------------------------------
// / Section
// - Docs: https://musubii.qranoko.jp/styles/layouts/section
// - SCSS: https://github.com/qrac/musubii/blob/master/src/scss/styles/layouts/_section.scss
//----------------------------------------------------

// Selectors
$selector-section: $ly_+$n-section !default;
$selector-inner: $selector-section+$_+$n-inner !default;

//----------------------------------------------------
// / Grid
// - Docs: https://musubii.qranoko.jp/styles/layouts/grid
// - SCSS: https://github.com/qrac/musubii/blob/master/src/scss/styles/layouts/_grid.scss
//----------------------------------------------------

// Selectors
$selector-grid: $ly_+$n-grid !default;
$selector-column: $selector-grid+$_+$n-column !default;

// Modifiers
$modifier-grid-baseline: $selector-grid+$__+$n-baseline !default;
$modifier-grid-middle: $selector-grid+$__+$n-middle !default;
$modifier-grid-bottom: $selector-grid+$__+$n-bottom !default;
$modifier-grid-center: $selector-grid+$__+$n-center !default;
$modifier-grid-right: $selector-grid+$__+$n-right !default;
$modifier-grid-between: $selector-grid+$__+$n-between !default;
$modifier-grid-around: $selector-grid+$__+$n-around !default;
$modifier-grid-reverse: $selector-grid+$__+$n-reverse !default;
$modifier-grid-stretch: $selector-grid+$__+$n-stretch !default;

$modifier-grid-gap: $selector-grid+$__+$n-gap !default;
$modifier-grid-gap-xxl: $selector-grid+$__+$n-gap+$_+$n-xxl !default;
$modifier-grid-gap-xl: $selector-grid+$__+$n-gap+$_+$n-xl !default;
$modifier-grid-gap-lg: $selector-grid+$__+$n-gap+$_+$n-lg !default;
$modifier-grid-gap-md: $selector-grid+$__+$n-gap+$_+$n-md !default;
$modifier-grid-gap-sm: $selector-grid+$__+$n-gap+$_+$n-sm !default;
$modifier-grid-gap-xs: $selector-grid+$__+$n-gap+$_+$n-xs !default;
$modifier-grid-gap-xxs: $selector-grid+$__+$n-gap+$_+$n-xxs !default;

$modifier-grid-gap-vertical: $selector-grid+$__+$n-gap+$_+$n-vertical !default;
$modifier-grid-gap-vertical-xxl: $selector-grid+$__+$n-gap+$_+$n-vertical+$_+$n-xxl !default;
$modifier-grid-gap-vertical-xl: $selector-grid+$__+$n-gap+$_+$n-vertical+$_+$n-xl !default;
$modifier-grid-gap-vertical-lg: $selector-grid+$__+$n-gap+$_+$n-vertical+$_+$n-lg !default;
$modifier-grid-gap-vertical-md: $selector-grid+$__+$n-gap+$_+$n-vertical+$_+$n-md !default;
$modifier-grid-gap-vertical-sm: $selector-grid+$__+$n-gap+$_+$n-vertical+$_+$n-sm !default;
$modifier-grid-gap-vertical-xs: $selector-grid+$__+$n-gap+$_+$n-vertical+$_+$n-xs !default;
$modifier-grid-gap-vertical-xxs: $selector-grid+$__+$n-gap+$_+$n-vertical+$_+$n-xxs !default;

$modifier-grid-gap-horizontal: $selector-grid+$__+$n-gap+$_+$n-horizontal !default;
$modifier-grid-gap-horizontal-xxl: $selector-grid+$__+$n-gap+$_+$n-horizontal+$_+$n-xxl !default;
$modifier-grid-gap-horizontal-xl: $selector-grid+$__+$n-gap+$_+$n-horizontal+$_+$n-xl !default;
$modifier-grid-gap-horizontal-lg: $selector-grid+$__+$n-gap+$_+$n-horizontal+$_+$n-lg !default;
$modifier-grid-gap-horizontal-md: $selector-grid+$__+$n-gap+$_+$n-horizontal+$_+$n-md !default;
$modifier-grid-gap-horizontal-sm: $selector-grid+$__+$n-gap+$_+$n-horizontal+$_+$n-sm !default;
$modifier-grid-gap-horizontal-xs: $selector-grid+$__+$n-gap+$_+$n-horizontal+$_+$n-xs !default;
$modifier-grid-gap-horizontal-xxs: $selector-grid+$__+$n-gap+$_+$n-horizontal+$_+$n-xxs !default;

//----------------------------------------------------
// / Card
// - Docs: https://musubii.qranoko.jp/styles/layouts/card
// - SCSS: https://github.com/qrac/musubii/tree/master/src/scss/styles/layouts/_card.scss
//----------------------------------------------------

// Selectors
$selector-card: $bl_+$n-card !default;

// Modifiers
$modifier-card-bg: $selector-card+$__+$n-bg !default;
$modifier-card-bg-light: $selector-card+$__+$n-bg+$_+$n-light !default;
$modifier-card-outline: $selector-card+$__+$n-outline !default;
$modifier-card-disabled: $selector-card+$__+$n-disabled !default;
$modifier-card-link: $selector-card+$__+$n-link !default;
$modifier-card-zoom: $selector-card+$__+$n-zoom !default;
$modifier-card-floating: $selector-card+$__+$n-floating !default;
$modifier-card-radius: $selector-card+$__+$n-radius !default;
$modifier-card-radius-xxl: $selector-card+$__+$n-radius+$_+$n-xxl !default;
$modifier-card-radius-xl: $selector-card+$__+$n-radius+$_+$n-xl !default;
$modifier-card-radius-lg: $selector-card+$__+$n-radius+$_+$n-lg !default;
$modifier-card-radius-md: $selector-card+$__+$n-radius+$_+$n-md !default;
$modifier-card-radius-sm: $selector-card+$__+$n-radius+$_+$n-sm !default;
$modifier-card-radius-xs: $selector-card+$__+$n-radius+$_+$n-xs !default;
$modifier-card-radius-xxs: $selector-card+$__+$n-radius+$_+$n-xxs !default;

//----------------------------------------------------
// / Box
// - Docs: https://musubii.qranoko.jp/styles/layouts/box
// - SCSS: https://github.com/qrac/musubii/tree/master/src/scss/styles/layouts/_box.scss
//----------------------------------------------------

// Selectors
$selector-box: $bl_+$n-box !default;

// Modifiers
$modifier-box-flex: $selector-box+$__+$n-flex !default;
$modifier-box-inline-flex: $selector-box+$__+$n-inline+capitalize($n-flex) !default;
$modifier-box-nowrap: $selector-box+$__+$n-nowrap !default;
$modifier-box-baseline: $selector-box+$__+$n-baseline !default;
$modifier-box-middle: $selector-box+$__+$n-middle !default;
$modifier-box-bottom: $selector-box+$__+$n-bottom !default;
$modifier-box-center: $selector-box+$__+$n-center !default;
$modifier-box-right: $selector-box+$__+$n-right !default;
$modifier-box-between: $selector-box+$__+$n-between !default;
$modifier-box-around: $selector-box+$__+$n-around !default;
$modifier-box-reverse: $selector-box+$__+$n-reverse !default;
$modifier-box-bg: $selector-box+$__+$n-bg !default;
$modifier-box-bg-light: $selector-box+$__+$n-bg+$_+$n-light !default;
$modifier-box-outline: $selector-box+$__+$n-outline !default;
$modifier-box-outline-top: $selector-box+$__+$n-outline+$_+$n-top !default;
$modifier-box-outline-right: $selector-box+$__+$n-outline+$_+$n-right !default;
$modifier-box-outline-bottom: $selector-box+$__+$n-outline+$_+$n-bottom !default;
$modifier-box-outline-left: $selector-box+$__+$n-outline+$_+$n-left !default;
$modifier-box-separate: $selector-box+$__+$n-separate !default;
$modifier-box-separate-parent: $selector-box+$__+$n-separate+$_+$n-parent !default;
$modifier-box-separate-child: $selector-box+$__+$n-separate+$_+$n-child !default;
$modifier-box-disabled: $selector-box+$__+$n-disabled !default;
$modifier-box-link: $selector-box+$__+$n-link !default;
$modifier-box-angle-right: $selector-box+$__+$n-angle+$_+$n-right !default;
$modifier-box-angle-left: $selector-box+$__+$n-angle+$_+$n-left !default;
$modifier-box-angle-up: $selector-box+$__+$n-angle+$_+$n-up !default;
$modifier-box-angle-down: $selector-box+$__+$n-angle+$_+$n-down !default;