//----------------------------------------------------
// Overrides: PRECSS Setting
//----------------------------------------------------

//----------------------------------------------------
// / Custom
//----------------------------------------------------

// Omitted
$option-om: true !default;

// Prefix
$ly_: "\.ly_" !default;
$bl_: "\.bl_" !default;
$el_: "\.el_" !default;
$un_: "\.un_" !default;
$js_: "\.js_" !default;
$is_: "\.is_" !default;

// Pipe
$_: "_" !default;
$__: "__" !default;

// Selector Name
$n-section: if($option-om, "sect", "section") !default;
$n-inner: "inner" !default;
$n-grid: "grid" !default;
$n-column: if($option-om, "col", "column") !default;
$n-gap: "gap" !default;
$n-card: "card" !default;
$n-box: "box" !default;
$n-joint: "joint" !default;
$n-text: "text" !default;
$n-blockquote: "blockquote" !default;
$n-code: "code" !default;
$n-pre: "pre" !default;
$n-button: "button" !default;
$n-badge: "badge" !default;
$n-list: "list" !default;
$n-item: "item" !default;
$n-table: "table" !default;
$n-wrap: "wrap" !default;
$n-form: "form" !default;
$n-input: "input" !default;
$n-textarea: "textarea" !default;
$n-label: "label" !default;
$n-radio: "radio" !default;
$n-checkbox: "checkbox" !default;
$n-select: "select" !default;
$n-fieldset: "fieldset" !default;
$n-iframe: "iframe" !default;
$n-icon: "icon" !default;

// Modifier Name
$n-mobile: "mobile" !default;
$n-fablet: "fablet" !default;
$n-tablet: "tablet" !default;
$n-desktop: "desktop" !default;
$n-wide: "wide" !default;
$n-light: "light" !default;
$n-dark: "dark" !default;
$n-primary: "primary" !default;
$n-info: "info" !default;
$n-success: "success" !default;
$n-warning: "warning" !default;
$n-danger: "danger" !default;
$n-xxl: "xxl" !default;
$n-xl: "xl" !default;
$n-lg: "lg" !default;
$n-md: "md" !default;
$n-sm: "sm" !default;
$n-xs: "xs" !default;
$n-xxs: "xxs" !default;
$n-1: "1" !default;
$n-2: "2" !default;
$n-3: "3" !default;
$n-4: "4" !default;
$n-5: "5" !default;
$n-6: "6" !default;
$n-7: "7" !default;
$n-8: "8" !default;
$n-9: "9" !default;
$n-100: "100" !default;
$n-200: "200" !default;
$n-300: "300" !default;
$n-400: "400" !default;
$n-500: "500" !default;
$n-600: "600" !default;
$n-700: "700" !default;
$n-800: "800" !default;
$n-900: "900" !default;
$n-normal: "normal" !default;
$n-strong: "strong" !default;
$n-16x9: "16x9" !default;
$n-4x3: "4x3" !default;
$n-top: "top" !default;
$n-right: "right" !default;
$n-bottom: "bottom" !default;
$n-left: "left" !default;
$n-vertical: "vertical" !default;
$n-horizontal: "horizontal" !default;
$n-up: "up" !default;
$n-down: "down" !default;
$n-checked: "checked" !default;
$n-disabled: "disabled" !default;
$n-fixed: "fixed" !default;
$n-height: "height" !default;
$n-bg: "bg" !default;
$n-plain: "plain" !default;
$n-melt: "melt" !default;
$n-border: "border" !default;
$n-outline: "outline" !default;
$n-line: "line" !default;
$n-inline: "inline" !default;
$n-underline: "underline" !default;
$n-flex: "flex" !default;
$n-baseline: "baseline" !default;
$n-middle: "middle" !default;
$n-center: "center" !default;
$n-between: "between" !default;
$n-around: "around" !default;
$n-reverse: "reverse" !default;
$n-stretch: "stretch" !default;
$n-link: "link" !default;
$n-zoom: "zoom" !default;
$n-floating: "floating" !default;
$n-nowrap: "nowrap" !default;
$n-separate: "separate" !default;
$n-parent: "parent" !default;
$n-child: "child" !default;
$n-angle: "angle" !default;
$n-exclude: "exclude" !default;
$n-radius: "radius" !default;
$n-round: "round" !default;
$n-square: "square" !default;
$n-circle: "circle" !default;
$n-weight: "weight" !default;
$n-italic: "italic" !default;
$n-delete: "delete" !default;
$n-capitalize: "capitalize" !default;
$n-lowercase: "lowercase" !default;
$n-uppercase: "uppercase" !default;
$n-justify: "justify" !default;
$n-break: "break" !default;
$n-disc: "disc" !default;
$n-kome: "kome" !default;
$n-decimal: "decimal" !default;
$n-note: "note" !default;
$n-stripe: "stripe" !default;
$n-paint: "paint" !default;
$n-spot: "spot" !default;
$n-inside: "inside" !default;
$n-multiple: "multiple" !default;
$n-aspect: "aspect" !default;
$n-fit: "fit" !default;

// Capitalize
@function capitalize($string) {
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

//----------------------------------------------------
// / Option
// - Docs: https://musubii.qranoko.jp/configs/variables/option
// - SCSS: https://github.com/qrac/musubii/tree/master/src/scss/configs/variables/_option.scss
//----------------------------------------------------

// Important
$option-important-display: true !default;
$option-important-size: true !default;
$option-important-flex: true !default;
$option-important-space: true !default;
$option-important-margin: true !default;
$option-important-padding: true !default;
$option-important-overflow: true !default;
$option-important-clearfix: true !default;

//----------------------------------------------------
// / Section
// - Docs: https://musubii.qranoko.jp/styles/layouts/section
// - SCSS: https://github.com/qrac/musubii/blob/master/src/scss/styles/layouts/_section.scss
//----------------------------------------------------

// Selectors
$selector-section: $ly_ + $n-section !default;
$selector-inner: $selector-section + $_ + $n-inner !default;

//----------------------------------------------------
// / Grid
// - Docs: https://musubii.qranoko.jp/styles/layouts/grid
// - SCSS: https://github.com/qrac/musubii/blob/master/src/scss/styles/layouts/_grid.scss
//----------------------------------------------------

// Selectors
$selector-grid: $ly_ + $n-grid !default;
$selector-column: $selector-grid + $_ + $n-column !default;

// Modifiers
$modifier-grid-baseline: $selector-grid + $__ + $n-baseline !default;
$modifier-grid-middle: $selector-grid + $__ + $n-middle !default;
$modifier-grid-bottom: $selector-grid + $__ + $n-bottom !default;
$modifier-grid-center: $selector-grid + $__ + $n-center !default;
$modifier-grid-right: $selector-grid + $__ + $n-right !default;
$modifier-grid-between: $selector-grid + $__ + $n-between !default;
$modifier-grid-around: $selector-grid + $__ + $n-around !default;
$modifier-grid-reverse: $selector-grid + $__ + $n-reverse !default;
$modifier-grid-stretch: $selector-grid + $__ + $n-stretch !default;

$modifier-grid-gap: $selector-grid + $__ + $n-gap !default;
$modifier-grid-gap-xxl: $selector-grid + $__ + $n-gap + $_ + $n-xxl !default;
$modifier-grid-gap-xl: $selector-grid + $__ + $n-gap + $_ + $n-xl !default;
$modifier-grid-gap-lg: $selector-grid + $__ + $n-gap + $_ + $n-lg !default;
$modifier-grid-gap-md: $selector-grid + $__ + $n-gap + $_ + $n-md !default;
$modifier-grid-gap-sm: $selector-grid + $__ + $n-gap + $_ + $n-sm !default;
$modifier-grid-gap-xs: $selector-grid + $__ + $n-gap + $_ + $n-xs !default;
$modifier-grid-gap-xxs: $selector-grid + $__ + $n-gap + $_ + $n-xxs !default;

$modifier-grid-gap-vertical: $selector-grid + $__ + $n-gap + $_ + $n-vertical !default;
$modifier-grid-gap-vertical-xxl: $selector-grid + $__ + $n-gap + $_ + $n-vertical + $_ + $n-xxl !default;
$modifier-grid-gap-vertical-xl: $selector-grid + $__ + $n-gap + $_ + $n-vertical + $_ + $n-xl !default;
$modifier-grid-gap-vertical-lg: $selector-grid + $__ + $n-gap + $_ + $n-vertical + $_ + $n-lg !default;
$modifier-grid-gap-vertical-md: $selector-grid + $__ + $n-gap + $_ + $n-vertical + $_ + $n-md !default;
$modifier-grid-gap-vertical-sm: $selector-grid + $__ + $n-gap + $_ + $n-vertical + $_ + $n-sm !default;
$modifier-grid-gap-vertical-xs: $selector-grid + $__ + $n-gap + $_ + $n-vertical + $_ + $n-xs !default;
$modifier-grid-gap-vertical-xxs: $selector-grid + $__ + $n-gap + $_ + $n-vertical + $_ + $n-xxs !default;

$modifier-grid-gap-horizontal: $selector-grid + $__ + $n-gap + $_ + $n-horizontal !default;
$modifier-grid-gap-horizontal-xxl: $selector-grid + $__ + $n-gap + $_ + $n-horizontal + $_ + $n-xxl !default;
$modifier-grid-gap-horizontal-xl: $selector-grid + $__ + $n-gap + $_ + $n-horizontal + $_ + $n-xl !default;
$modifier-grid-gap-horizontal-lg: $selector-grid + $__ + $n-gap + $_ + $n-horizontal + $_ + $n-lg !default;
$modifier-grid-gap-horizontal-md: $selector-grid + $__ + $n-gap + $_ + $n-horizontal + $_ + $n-md !default;
$modifier-grid-gap-horizontal-sm: $selector-grid + $__ + $n-gap + $_ + $n-horizontal + $_ + $n-sm !default;
$modifier-grid-gap-horizontal-xs: $selector-grid + $__ + $n-gap + $_ + $n-horizontal + $_ + $n-xs !default;
$modifier-grid-gap-horizontal-xxs: $selector-grid + $__ + $n-gap + $_ + $n-horizontal + $_ + $n-xxs !default;

//----------------------------------------------------
// / Card
// - Docs: https://musubii.qranoko.jp/styles/layouts/card
// - SCSS: https://github.com/qrac/musubii/tree/master/src/scss/styles/layouts/_card.scss
//----------------------------------------------------

// Selectors
$selector-card: $bl_ + $n-card !default;

// Modifiers
$modifier-card-bg: $selector-card + $__ + $n-bg !default;
$modifier-card-bg-light: $selector-card + $__ + $n-bg + $_ + $n-light !default;
$modifier-card-outline: $selector-card + $__ + $n-outline !default;
$modifier-card-disabled: $selector-card + $__ + $n-disabled !default;
$modifier-card-link: $selector-card + $__ + $n-link !default;
$modifier-card-zoom: $selector-card + $__ + $n-zoom !default;
$modifier-card-floating: $selector-card + $__ + $n-floating !default;
$modifier-card-radius: $selector-card + $__ + $n-radius !default;
$modifier-card-radius-xxl: $selector-card + $__ + $n-radius + $_ + $n-xxl !default;
$modifier-card-radius-xl: $selector-card + $__ + $n-radius + $_ + $n-xl !default;
$modifier-card-radius-lg: $selector-card + $__ + $n-radius + $_ + $n-lg !default;
$modifier-card-radius-md: $selector-card + $__ + $n-radius + $_ + $n-md !default;
$modifier-card-radius-sm: $selector-card + $__ + $n-radius + $_ + $n-sm !default;
$modifier-card-radius-xs: $selector-card + $__ + $n-radius + $_ + $n-xs !default;
$modifier-card-radius-xxs: $selector-card + $__ + $n-radius + $_ + $n-xxs !default;

//----------------------------------------------------
// / Box
// - Docs: https://musubii.qranoko.jp/styles/layouts/box
// - SCSS: https://github.com/qrac/musubii/tree/master/src/scss/styles/layouts/_box.scss
//----------------------------------------------------

// Selectors
$selector-box: $bl_ + $n-box !default;

// Modifiers
$modifier-box-flex: $selector-box + $__ + $n-flex !default;
$modifier-box-inline-flex: $selector-box + $__ + $n-inline + capitalize($n-flex) !default;
$modifier-box-nowrap: $selector-box + $__ + $n-nowrap !default;
$modifier-box-baseline: $selector-box + $__ + $n-baseline !default;
$modifier-box-middle: $selector-box + $__ + $n-middle !default;
$modifier-box-bottom: $selector-box + $__ + $n-bottom !default;
$modifier-box-center: $selector-box + $__ + $n-center !default;
$modifier-box-right: $selector-box + $__ + $n-right !default;
$modifier-box-between: $selector-box + $__ + $n-between !default;
$modifier-box-around: $selector-box + $__ + $n-around !default;
$modifier-box-reverse: $selector-box + $__ + $n-reverse !default;
$modifier-box-bg: $selector-box + $__ + $n-bg !default;
$modifier-box-bg-light: $selector-box + $__ + $n-bg + $_ + $n-light !default;
$modifier-box-outline: $selector-box + $__ + $n-outline !default;
$modifier-box-outline-top: $selector-box + $__ + $n-outline + $_ + $n-top !default;
$modifier-box-outline-right: $selector-box + $__ + $n-outline + $_ + $n-right !default;
$modifier-box-outline-bottom: $selector-box + $__ + $n-outline + $_ + $n-bottom !default;
$modifier-box-outline-left: $selector-box + $__ + $n-outline + $_ + $n-left !default;
$modifier-box-separate: $selector-box + $__ + $n-separate !default;
$modifier-box-separate-parent: $selector-box + $__ + $n-separate + $_ + $n-parent !default;
$modifier-box-separate-child: $selector-box + $__ + $n-separate + $_ + $n-child !default;
$modifier-box-disabled: $selector-box + $__ + $n-disabled !default;
$modifier-box-link: $selector-box + $__ + $n-link !default;
$modifier-box-angle-right: $selector-box + $__ + $n-angle + $_ + $n-right !default;
$modifier-box-angle-left: $selector-box + $__ + $n-angle + $_ + $n-left !default;
$modifier-box-angle-up: $selector-box + $__ + $n-angle + $_ + $n-up !default;
$modifier-box-angle-down: $selector-box + $__ + $n-angle + $_ + $n-down !default;

//----------------------------------------------------
// / Joint
// - Docs: https://musubii.qranoko.jp/styles/layouts/joint
// - SCSS: https://github.com/qrac/musubii/tree/master/src/scss/styles/layouts/_joint.scss
//----------------------------------------------------

// Selectors
$selector-joint: $bl_ + $n-joint !default;
$selector-joint-child-button: $el_ + $n-button !default;
$selector-joint-child-badge: $el_ + $n-badge !default;
$selector-joint-child-input: $el_ + $n-input !default;
$selector-joint-child-select: $el_ + $n-select !default;
//$selector-joint-child-select-core: "select" !default;

// Modifiers
$modifier-joint-exclude: $selector-joint + $__ + $n-exclude !default;

//----------------------------------------------------
// / Text
// - Docs: https://musubii.qranoko.jp/styles/elements/text
// - SCSS: https://github.com/qrac/musubii/tree/master/src/scss/styles/elements/_text.scss
//----------------------------------------------------

// Selectors
$selector-text: $el_ + $n-text !default;
$selector-blockquote: $el_ + $n-blockquote !default;
$selector-code: $el_ + $n-code !default;
$selector-pre: $el_ + $n-pre !default;

// Modifiers
$modifier-text-dark: $selector-text + $__ + $n-dark !default;
$modifier-text-dark-1: $selector-text + $__ + $n-dark + $n-1 !default;
$modifier-text-dark-2: $selector-text + $__ + $n-dark + $n-2 !default;
$modifier-text-dark-3: $selector-text + $__ + $n-dark + $n-3 !default;
$modifier-text-dark-4: $selector-text + $__ + $n-dark + $n-4 !default;
$modifier-text-dark-5: $selector-text + $__ + $n-dark + $n-5 !default;
$modifier-text-dark-6: $selector-text + $__ + $n-dark + $n-6 !default;
$modifier-text-dark-7: $selector-text + $__ + $n-dark + $n-7 !default;
$modifier-text-dark-8: $selector-text + $__ + $n-dark + $n-8 !default;
$modifier-text-dark-9: $selector-text + $__ + $n-dark + $n-9 !default;

$modifier-text-light: $selector-text + $__ + $n-light !default;
$modifier-text-light-1: $selector-text + $__ + $n-light + $n-1 !default;
$modifier-text-light-2: $selector-text + $__ + $n-light + $n-2 !default;
$modifier-text-light-3: $selector-text + $__ + $n-light + $n-3 !default;
$modifier-text-light-4: $selector-text + $__ + $n-light + $n-4 !default;
$modifier-text-light-5: $selector-text + $__ + $n-light + $n-5 !default;
$modifier-text-light-6: $selector-text + $__ + $n-light + $n-6 !default;
$modifier-text-light-7: $selector-text + $__ + $n-light + $n-7 !default;
$modifier-text-light-8: $selector-text + $__ + $n-light + $n-8 !default;
$modifier-text-light-9: $selector-text + $__ + $n-light + $n-9 !default;

$modifier-text-primary: $selector-text + $__ + $n-primary !default;
$modifier-text-info: $selector-text + $__ + $n-info !default;
$modifier-text-success: $selector-text + $__ + $n-success !default;
$modifier-text-warning: $selector-text + $__ + $n-warning !default;
$modifier-text-danger: $selector-text + $__ + $n-danger !default;

$modifier-text-weight-normal: $selector-text + $__ + $n-normal !default;
$modifier-text-weight-strong: $selector-text + $__ + $n-strong !default;
$modifier-text-weight-100: $selector-text + $__ + $n-weight + $n-100 !default;
$modifier-text-weight-200: $selector-text + $__ + $n-weight + $n-200 !default;
$modifier-text-weight-300: $selector-text + $__ + $n-weight + $n-300 !default;
$modifier-text-weight-400: $selector-text + $__ + $n-weight + $n-400 !default;
$modifier-text-weight-500: $selector-text + $__ + $n-weight + $n-500 !default;
$modifier-text-weight-600: $selector-text + $__ + $n-weight + $n-600 !default;
$modifier-text-weight-700: $selector-text + $__ + $n-weight + $n-700 !default;
$modifier-text-weight-800: $selector-text + $__ + $n-weight + $n-800 !default;
$modifier-text-weight-900: $selector-text + $__ + $n-weight + $n-900 !default;

$modifier-text-line-height-xxl: $selector-text + $__ + $n-line + capitalize($n-height) + $_ + $n-xxl !default;
$modifier-text-line-height-xl: $selector-text + $__ + $n-line + capitalize($n-height) + $_ + $n-xl !default;
$modifier-text-line-height-lg: $selector-text + $__ + $n-line + capitalize($n-height) + $_ + $n-lg !default;
$modifier-text-line-height-md: $selector-text + $__ + $n-line + capitalize($n-height) + $_ + $n-md !default;
$modifier-text-line-height-sm: $selector-text + $__ + $n-line + capitalize($n-height) + $_ + $n-sm !default;
$modifier-text-line-height-xs: $selector-text + $__ + $n-line + capitalize($n-height) + $_ + $n-xs !default;
$modifier-text-line-height-xxs: $selector-text + $__ + $n-line + capitalize($n-height) + $_ + $n-xxs !default;

$modifier-text-italic: $selector-text + $__ + $n-italic !default;
$modifier-text-delete: $selector-text + $__ + $n-delete !default;
$modifier-text-capitalize: $selector-text + $__ + $n-capitalize !default;
$modifier-text-lowercase: $selector-text + $__ + $n-lowercase !default;
$modifier-text-uppercase: $selector-text + $__ + $n-uppercase !default;

$modifier-text-right: $selector-text + $__ + $n-right !default;
$modifier-text-center: $selector-text + $__ + $n-center !default;
$modifier-text-left: $selector-text + $__ + $n-left !default;
$modifier-text-mobile-right: $selector-text + $__ + $n-mobile + $_ + $n-right !default;
$modifier-text-mobile-center: $selector-text + $__ + $n-mobile + $_ + $n-center !default;
$modifier-text-mobile-left: $selector-text + $__ + $n-mobile + $_ + $n-left !default;
$modifier-text-fablet-right: $selector-text + $__ + $n-fablet + $_ + $n-right !default;
$modifier-text-fablet-center: $selector-text + $__ + $n-fablet + $_ + $n-center !default;
$modifier-text-fablet-left: $selector-text + $__ + $n-fablet + $_ + $n-left !default;
$modifier-text-tablet-right: $selector-text + $__ + $n-tablet + $_ + $n-right !default;
$modifier-text-tablet-center: $selector-text + $__ + $n-tablet + $_ + $n-center !default;
$modifier-text-tablet-left: $selector-text + $__ + $n-tablet + $_ + $n-left !default;
$modifier-text-desktop-right: $selector-text + $__ + $n-desktop + $_ + $n-right !default;
$modifier-text-desktop-center: $selector-text + $__ + $n-desktop + $_ + $n-center !default;
$modifier-text-desktop-left: $selector-text + $__ + $n-desktop + $_ + $n-left !default;
$modifier-text-wide-right: $selector-text + $__ + $n-wide + $_ + $n-right !default;
$modifier-text-wide-center: $selector-text + $__ + $n-wide + $_ + $n-center !default;
$modifier-text-wide-left: $selector-text + $__ + $n-wide + $_ + $n-left !default;

$modifier-text-justify: $selector-text + $__ + $n-justify !default;
$modifier-text-baseline: $selector-text + $__ + $n-baseline !default;
$modifier-text-top: $selector-text + $__ + $n-top !default;
$modifier-text-middle: $selector-text + $__ + $n-middle !default;
$modifier-text-bottom: $selector-text + $__ + $n-bottom !default;

$modifier-text-nowrap: $selector-text + $__ + $n-nowrap !default;
$modifier-text-break: $selector-text + $__ + $n-break !default;

$modifier-text-link: $selector-text + $__ + $n-link !default;
$modifier-text-link-reverse: $selector-text + $__ + $n-link + $_ + $n-reverse !default;
$modifier-text-disabled: $selector-text + $__ + $n-disabled !default;

//----------------------------------------------------
// / Button
// - Docs: https://musubii.qranoko.jp/styles/elements/button
// - SCSS: https://github.com/qrac/musubii/tree/master/src/scss/styles/elements/_button.scss
//----------------------------------------------------

// Selectors
$selector-button: $el_ + $n-button !default;

// Modifiers
$modifier-button-strong: $selector-button + $__ + $n-strong !default;
$modifier-button-round: $selector-button + $__ + $n-round !default;
$modifier-button-floating: $selector-button + $__ + $n-floating !default;
$modifier-button-square: $selector-button + $__ + $n-square !default;
$modifier-button-circle: $selector-button + $__ + $n-circle !default;
$modifier-button-disabled: $selector-button + $__ + $n-disabled !default;
$modifier-button-plain: $selector-button + $__ + $n-plain !default;
$modifier-button-outline: $selector-button + $__ + $n-outline !default;
$modifier-button-melt: $selector-button + $__ + $n-melt !default;
$modifier-button-primary: $selector-button + $__ + $n-primary !default;
$modifier-button-info: $selector-button + $__ + $n-info !default;
$modifier-button-success: $selector-button + $__ + $n-success !default;
$modifier-button-warning: $selector-button + $__ + $n-warning !default;
$modifier-button-danger: $selector-button + $__ + $n-danger !default;
$modifier-button-angle-right: $selector-button + $__ + $n-angle + $_ + $n-right !default;
$modifier-button-angle-left: $selector-button + $__ + $n-angle + $_ + $n-left !default;
$modifier-button-angle-up: $selector-button + $__ + $n-angle + $_ + $n-up !default;
$modifier-button-angle-down: $selector-button + $__ + $n-angle + $_ + $n-down !default;

//----------------------------------------------------
// / Badge
// - Docs: https://musubii.qranoko.jp/styles/elements/badge
// - SCSS: https://github.com/qrac/musubii/tree/master/src/scss/styles/elements/_badge.scss
//----------------------------------------------------

// Selectors
$selector-badge: $el_ + $n-badge !default;

// Modifiers
$modifier-badge-strong: $selector-badge + $__ + $n-strong !default;
$modifier-badge-round: $selector-badge + $__ + $n-round !default;
$modifier-badge-square: $selector-badge + $__ + $n-square !default;
$modifier-badge-circle: $selector-badge + $__ + $n-circle !default;
$modifier-badge-disabled: $selector-badge + $__ + $n-disabled !default;
$modifier-badge-plain: $selector-badge + $__ + $n-plain !default;
$modifier-badge-outline: $selector-badge + $__ + $n-outline !default;
$modifier-badge-primary: $selector-badge + $__ + $n-primary !default;
$modifier-badge-info: $selector-badge + $__ + $n-info !default;
$modifier-badge-success: $selector-badge + $__ + $n-success !default;
$modifier-badge-warning: $selector-badge + $__ + $n-warning !default;
$modifier-badge-danger: $selector-badge + $__ + $n-danger !default;

//----------------------------------------------------
// / List
// - Docs: https://musubii.qranoko.jp/styles/elements/list
// - SCSS: https://github.com/qrac/musubii/tree/master/src/scss/styles/elements/_list.scss
//----------------------------------------------------

// Selectors
$selector-list: $el_ + $n-list !default;
$selector-list-item: $selector-list + $_ + $n-item !default;

// Modifiers
$modifier-list-disc: $selector-list + $__ + $n-disc !default;
$modifier-list-circle: $selector-list + $__ + $n-circle !default;
$modifier-list-square: $selector-list + $__ + $n-square !default;
$modifier-list-kome: $selector-list + $__ + $n-kome !default;
$modifier-list-decimal: $selector-list + $__ + $n-decimal !default;
$modifier-list-note: $selector-list + $__ + $n-note !default;

//----------------------------------------------------
// / Table
// - Docs: https://musubii.qranoko.jp/styles/elements/table
// - SCSS: https://github.com/qrac/musubii/tree/master/src/scss/styles/elements/_table.scss
//----------------------------------------------------

// Selectors
$selector-table: $bl_ + $n-table !default;
$selector-table-box: $bl_ + $n-box !default;
//$selector-table-thead: "thead" !default;
//$selector-table-tbody: "tbody" !default;
//$selector-table-tr: "tr" !default;
//$selector-table-th: "th" !default;
//$selector-table-td: "td" !default;
$selector-table-wrap: $bl_ + $n-table + $_ + $n-wrap !default;

// Modifiers
$modifier-table-line: $selector-table + $__ + $n-line !default;
$modifier-table-outline: $selector-table + $__ + $n-outline !default;
$modifier-table-border: $selector-table + $__ + $n-border !default;
$modifier-table-stripe: $selector-table + $__ + $n-stripe !default;
$modifier-table-paint: $selector-table + $__ + $n-paint !default;
$modifier-table-spot: $selector-table + $__ + $n-spot !default;
$modifier-table-danger: $selector-table + $__ + $n-danger !default;
$modifier-table-right: $selector-table + $__ + $n-right !default;
$modifier-table-center: $selector-table + $__ + $n-center !default;
$modifier-table-left: $selector-table + $__ + $n-left !default;
$modifier-table-middle: $selector-table + $__ + $n-middle !default;
$modifier-table-fixed: $selector-table + $__ + $n-fixed !default;

//----------------------------------------------------
// / Form
// - Docs: https://musubii.qranoko.jp/styles/elements/form
// - SCSS: https://github.com/qrac/musubii/tree/master/src/scss/styles/elements/_form.scss
//----------------------------------------------------

// Selectors
$selector-form: $el_ + $n-form !default; // Add Custom
$selector-form-input: $selector-form + $_ + $n-input !default;
$selector-form-textarea: $selector-form + $_ + $n-textarea !default;
$selector-form-label: $selector-form + $_ + $n-label !default;
$selector-form-radio: $selector-form + $_ + $n-radio !default;
$selector-form-checkbox: $selector-form + $_ + $n-checkbox !default;
$selector-form-select: $selector-form + $_ + $n-select !default;
//$selector-form-select-core: "select" !default;
$selector-form-fieldset: $selector-form + $_ + $n-fieldset !default;

// Modifiers
$modifier-form-success: $selector-form + $__ + $n-success !default;
$modifier-form-danger: $selector-form + $__ + $n-danger !default;
$modifier-form-round: $selector-form + $__ + $n-round !default;
$modifier-form-plain: $selector-form + $__ + $n-plain !default;
$modifier-form-underline: $selector-form + $__ + $n-underline !default;
$modifier-form-inside: $selector-form + $__ + $n-inside !default;
$modifier-form-middle: $selector-form + $__ + $n-middle !default;
$modifier-form-center: $selector-form + $__ + $n-center !default;
$modifier-form-checked: $selector-form + $__ + $n-checked !default;
$modifier-form-disabled: $selector-form + $__ + $n-disabled !default;
$modifier-form-multiple: $selector-form + $__ + $n-multiple !default;

//----------------------------------------------------
// / iframe
// - Docs: https://musubii.qranoko.jp/styles/elements/iframe
// - SCSS: https://github.com/qrac/musubii/tree/master/src/scss/styles/elements/_iframe.scss
//----------------------------------------------------

// Selectors
$selector-iframe: $el_ + $n-iframe !default;
//$selector-iframe-core: "iframe" !default;

// Modifiers
$modifier-iframe-aspect-16x9: $selector-iframe + $__ + $n-aspect + $n-16x9 !default;
$modifier-iframe-aspect-4x3: $selector-iframe + $__ + $n-aspect + $n-4x3 !default;

//----------------------------------------------------
// / Icon
// - Docs: https://musubii.qranoko.jp/styles/elements/icon
// - SCSS: https://github.com/qrac/musubii/tree/master/src/scss/styles/elements/_icon.scss
//----------------------------------------------------

// Selectors
$selector-icon: $el_ + $n-icon !default;
$selector-icon-svg: "svg" + $selector-icon !default;
//$selector-icon-material: "\.material-icons" !default;

// Modifiers
$modifier-icon-dark: $selector-icon + $__ + $n-dark !default;
$modifier-icon-dark-1: $selector-icon + $__ + $n-dark + $n-1 !default;
$modifier-icon-dark-2: $selector-icon + $__ + $n-dark + $n-2 !default;
$modifier-icon-dark-3: $selector-icon + $__ + $n-dark + $n-3 !default;
$modifier-icon-dark-4: $selector-icon + $__ + $n-dark + $n-4 !default;
$modifier-icon-dark-5: $selector-icon + $__ + $n-dark + $n-5 !default;
$modifier-icon-dark-6: $selector-icon + $__ + $n-dark + $n-6 !default;
$modifier-icon-dark-7: $selector-icon + $__ + $n-dark + $n-7 !default;
$modifier-icon-dark-8: $selector-icon + $__ + $n-dark + $n-8 !default;
$modifier-icon-dark-9: $selector-icon + $__ + $n-dark + $n-9 !default;

$modifier-icon-light: $selector-icon + $__ + $n-light !default;
$modifier-icon-light-1: $selector-icon + $__ + $n-light + $n-1 !default;
$modifier-icon-light-2: $selector-icon + $__ + $n-light + $n-2 !default;
$modifier-icon-light-3: $selector-icon + $__ + $n-light + $n-3 !default;
$modifier-icon-light-4: $selector-icon + $__ + $n-light + $n-4 !default;
$modifier-icon-light-5: $selector-icon + $__ + $n-light + $n-5 !default;
$modifier-icon-light-6: $selector-icon + $__ + $n-light + $n-6 !default;
$modifier-icon-light-7: $selector-icon + $__ + $n-light + $n-7 !default;
$modifier-icon-light-8: $selector-icon + $__ + $n-light + $n-8 !default;
$modifier-icon-light-9: $selector-icon + $__ + $n-light + $n-9 !default;

$modifier-icon-primary: $selector-icon + $__ + $n-primary !default;
$modifier-icon-info: $selector-icon + $__ + $n-info !default;
$modifier-icon-success: $selector-icon + $__ + $n-success !default;
$modifier-icon-warning: $selector-icon + $__ + $n-warning !default;
$modifier-icon-danger: $selector-icon + $__ + $n-danger !default;

$modifier-icon-fit: $selector-icon + $__ + $n-fit !default;