//----------------------------------------------------
// Block: Demo Tab
//----------------------------------------------------

.bl_demo_tabs_wrap {
  margin-bottom: -12px;
  padding-bottom: 12px;
  @include musubii-style-overflow-scroll-x();
}

.bl_demo_tabs {
  display: block;
  background-color: darken($grey-700, 8%);
  white-space: nowrap;
  > .bl_demo_tab:not(:last-child) {
    margin-right: 1px;
  }
}

.bl_demo_tab {
  display: inline-flex;
  align-items: center;
  padding: 6px 16px;
  background-color: $grey-700;
  border: none;
  outline: none;
  color: $light-1;
  transition: $global-transition;
  &:focus {
    box-shadow: inset 0 3px 0 0 $theme-focus;
  }
  &:not(.is_active) {
    cursor: pointer;
    &:hover {
      background-color: lighten($grey-700, 8%);
    }
  }
  &.is_active {
    background-color: $light;
    color: $dark-2;
  }
  > *:not(:last-child) {
    margin-right: 6px;
  }
  .el_txt {
    font-size: 80%;
  }
  .el_icon__html5 {
    color: #e34f26;
  }
}
